.navbar {
    display: flex;
    justify-content: space-between;
}

.links .period {
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
}

.links .period:first-child {
    margin-right: 1.5rem;
}

.btnContainer button {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    position: relative;
    font-size: 0.8;
}

.btnContainer button span{
    position: absolute;
    top: 0;
    left:2px;
    font-size: 10px;
}

.btnContainer button:first-child {
    margin-right: 10px;
    background-color: black;
    color: white;
}
.btnContainer button:last-child{
    background-color: white;
}