.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.links .period {
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
}

.links .period:first-child {
    margin-right: 1.5rem;
}

.period:hover,
.period:active,
.period.active {
    border-bottom: 2px solid #40a4c8;
    color: black;
    font-weight: 500;

}


.btnContainer button {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    position: relative;
    font-size: 0.8rem;
}


.btnContainer button:first-child {
    margin-right: 10px;
    background-color: black;
    color: white;
}

.btnContainer button:last-child {
    background-color: white;
}