.highlight{
    text-align: left;
    padding: 1.5rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.highlight h3{
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
}
.highlight h2{
    font-size: 1.4rem;
    
}
.highlight h2 span{
    font-size: 0.8rem;
    margin-left: 5px;
}

.sunriseAndSunset{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.sunriseAndSunset div{
    display: flex;
    align-items: center;
}
.arrow{
    margin-right: 12px;
    padding: 5px;
    background-color: rgb(255, 217, 0);
    border: 2px solid rgb(211, 180, 8);
    border-radius: 50%;
}
.humidity{
    display: flex;
    align-items: center;
}

.lineContainer{
    margin-top: 1rem;
}
.readings{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lineContainerInner{
    height: 10px;
    width: 100%;
    border-radius: 55px;
    box-shadow: 0px 2px 2px #ccc;
    position: relative;
    background-color: rgb(243, 240, 240);
}

.percentage{
    display: flex;
    justify-content: flex-end;
}
